@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: #F3F7FA;

}

section {
  min-height: 100vh;
  display: flex;
  background: #F3F7FA;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 padding: -50px;
  
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1200px;

}




h1 {

  position: absolute;

  top: 30%;

  font-size: 60px;

  color: #220b3d;


}

.look {

  width: 500px;

  height: 50px;

  background-color: white;

  border-radius: 30px;

  display: flex;

  align-items: center;

  padding: 20px;

}

.look.i {

  font-size: 20px;

  color: #777;

}

input,
textarea {

  flex: 1;

  height: 40px;

  border: none;

  outline: none;

  font-size: 18px;

  padding-left: 10px;


}
/********************/
.popular-tags {
  display: flex;
  color: black;
 gap: 25px;
  font-size: 12px;
 font-weight: 500;
  margin-top: 100px;
}
 .popular-tags .tags {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
}
 .tags li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 15px 50px;
  border-radius: 50px;
  transition: 0.2s ease;
}
 .tags li a:hover {
  color: #000;
  background: #fff;}

/********************************/
#blockcard {
margin-top: -100px;
  display: flex;
  background: #F3F7FA;
  width: 100px;
 height: 50%;
  min-height: 5vh;

}

.block {
  display: flex;
  align-items: center;

  padding-left: 1400px;

}

.block .row {
  height: 150px;
  width: 295px;
  background: #fff;
  margin: 85px;
  text-align: center;
  color: #000;
  border-radius: 30px;
  justify-content: center;
 /* margin-right: 60px;*/
  align-items: center;



}

.para {
  margin-right: 70px;
  color: gray;

}

.icon {
  font-size: 40px;
  margin-right: 44px;
  color: #4f2480;

}

.modif {
  margin-right: 70px;
}

.card-content>p>span{
  font-size: 20px;
  padding-right: 10px;
} 
.card-content>h4{
  padding: 8px 0  ;
  text-align: center;
}
.items>.card-btn{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color:#857bee!important;
  color: #fff;
  border-radius: 5px;
  border: 0 ;
  padding:10 15px ;
}
.lien-card{
  position: absolute;
  left: 50px;
}
.seemore{
  width: 20%;
  color: #857bee;
  border-radius: 5px;
justify-content: center;
  align-items: center;
margin-left: 48%;
margin-top: 3.5%;}
  .seemore a {

    align-items: center;



  }/*
  /* Import Google font - Poppins */


.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin: 10% 15%;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}